@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap");

html {
  --font-fira-code: "Fira Code", monospace;

  --color-background: #18181b;
  --color-foreground: #27272a;
  --color-foreground-2: #202022;
  --color-muted: #71717a;
  --color-accent: #3b82f6;
  --color-txt: #f4f4f5;
  --color-accent-alt: #ff6631;

  font-family: var(--font-fira-code);
  background-color: var(--color-foreground);
  color: var(--color-txt);
}

* {
  box-sizing: border-box;
}
